<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="{% static "bootstrap5/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" %}">
    <script src="{% static "bootstrap5/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
<header class="p-3 txt-bg-light border-bottom mb-2">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">发布博客</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="搜索..." aria-label="搜索" spellcheck="false"
                       data-ms-editor="true">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登录</button>
                <button type="button" class="btn btn-primary">注册</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded">
    <h1>Django课程详情</h1>
    <hr>
    <div class="mt-2">
        <img src="#" class="rounded-circle" width="30" height="30" alt="">
        <span class="ms-2">知了课堂</span>
        <span class="ms-2">于</span>
        <span class="ms-2">2024年5月21日</span>发布
    </div>
    <hr>
    <div class="py-2">这是博客详情</div>
    <hr>
    <div class="mt-2">
        <h3>评论（0）</h3>
        <form action="" method="POST">
            <div class="mt-2">
                <input type="text" class="form-control" placeholder="请输入评论">
            </div>
            <div class="text-end mt-2">
                <button type="button" class="btn btn-primary">评论</button>
            </div>
        </form>
    </div>
    <div class="mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item mb-3">
                <div class="d-flex justify-content-between">
                    <div class="user_info">
                         <img src="#" class="rounded-circle" width="40" height="40" alt="">
                        <span class="ms-2">Assinal</span>
                    </div>
                    <div class="create-time" style="line-height: 40px">2024年5月21日</div>
                </div>
            </li>
        </ul>
    </div>
</main>
</body>
</html>